.scoreTableComponent {
    width: calc(93% / 2);
    padding: 1em 1em 1.5em;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    min-height: 400px;

    h3 {
        margin-top: 0.5em;
        text-align: center;
    }

    .currentScore {
        display: flex;
        justify-content: space-around;

        .scoreBox strong {
            text-transform: capitalize;
        }
    }

    table {
        margin-top: 1em;
        width: 100%;
        text-align: center;
        line-height: 2em;
        
        td, th {
            width: 50%;
        }

        thead {
            background-color:  #e9e8e8;
        }
    }
}
